body{
    font-family: 'Roboto Mono', monospace;
    
}
a{
    text-decoration: none;
}
nav{
    height: 5rem;
    width: 100%;
    background-image: url(../img/retro-train-antique-steam-locomotive-tender-vintage-car-black-silhouette-isolated-white-railway-transport-vector-art-227588409.jpg);
    background-position: 50% 77%;
    background-color:rgb(204, 197, 174); ;
   /* background-size: contain; */
    
}
nav .nav-link{
    color: black;
}    
nav .container{
    width: 100%;
}  

header{
    background-image: url(../img/376607-sepik_1920x1200.jpg);
    height: 60vh;
    border-radius: 10px;
    color: #070604;
     box-shadow: 2px 2px 1px 1px #252320;
    background-size: cover;
    background-position: 25% 75%;
    background-repeat: no-repeat ;
    padding-top: 15rem;
}
.cards{
    background-color: rgb(182, 171, 134);
}
.card{
     /* border: 3px solid rgb(71, 18,18); */
     opacity: 0.6;
     border-radius: 10px;
    color: #070604;
     box-shadow: 2px 2px 1px 1px #252320;
}
.card .btn{
    background-color: #38342f;
    border: 2px solid black;
}
.card img{
    width: 100%;
    
}
#inputGroup-sizing-sm{
     /* border: 3px solid rgb(71, 18,18); */
     opacity: 0.6;
     border-radius: 10px;
    color: #070604;
     box-shadow: 2px 2px 1px 1px #1b1a18;
}
.buy{
    opacity: 0.6;
     border-radius: 10px;
    color: #070604;
     box-shadow: 2px 2px 2px 2px #252320;
}
.path{
    border-radius: 10px;
    color: #070604;
     box-shadow: 2px 2px 2px 2px #252320;
}
.name{
    border-radius: 10px;
    color: #070604;
     box-shadow: 2px 2px 1px 1px #252320;
}
#age{
    opacity: 0.6;
     border-radius: 10px;
    color: #070604;
     box-shadow: 2px 2px 1px 1px #252320;
     padding: .3rem;
     margin: .1rem;
}
.discount{
    margin-top: 1.2rem;
    font-size: 10px;
    color: grey;
}
.ticket{
    color: #070604;
    padding: .3rem;
     margin: .1rem;
     
}
.ticket img{
    width: 100%;
}
.first-part{
    background-image: url(../img/treno-a-vapore-vettore-logo-design-modello-squallido-timbro-o-icona-di-locomotive-f0mkn4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    
       
}
.second-part{
    background-image: url(../img/depositphotos_16992437-stock-illustration-elegant-damask-background-with-classical.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
}

#ticketcode{
    border: 1px solid black;
   
}
#carriage{
    border-top: 1px solid black;
}
#qrcode{
    border-bottom: 1px solid black;
}         
