body{
    background-image: url(../img/6813866-train-track-wallpaper.jpg);
    background-repeat: no-repeat;
    font-family: 'Fuzzy Bubbles', cursive;
}
nav{
    height: 4rem;
    width: 100%;
}    
nav .container{
    width: 100%;
}  

nav img{
    width: 10%;
}
.title{
    
}
h1{
    color: black;
    background-color: rgba(161, 89, 49, 0.3)
}
.ticketname{
    background-color: salmon;
    width: 100px;
    height: 400px;
}
.card{
     /* border: 3px solid rgb(71, 18,18); */
     opacity: 0.6;
     border-radius: 10px;
     background-color: #A55E34;
     color: #070604;
     box-shadow: 2px 2px 1px 1px #604F3C;
}
.card .btn{
    background-color: #62503C;
    border: 2px solid black;
}
.card img{
    width: 100%;
}